.gs-button {
  background: $gs-btn-bg;
  color: $color-white;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  text-decoration: none;
  transition: all .2s;

  &:hover {
    background: $gs-btn-hover-bg;
    color: $color-white;
    text-decoration: none;
  }
}

.btn-purple {
  color: $color-primary;
  background-color: $color-white;
  border-color: $color-primary;
  transition: all .2s;
  font-weight: 600;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn-red {
  color: $color-white;
  background-color: $color-secondary;
  border-color: $color-secondary;
  transition: all .2s;
  font-weight: 600;

  &:hover {
    color: $color-white;
    background-color: darken($color-secondary, 10%);
    border-color: darken($color-secondary, 10%);
  }
}

.btn-white {
  color: $color-secondary;
  background-color: $color-white;
  border-color: $color-white;
  transition: all .2s;
  font-weight: 600;

  &:hover {
    color: $color-secondary;
    background-color: darken($color-white, 10%);
    border-color: darken($color-white, 10%);
  }
}

.featured-item-button {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 120px;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  background-color: $color-white;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;

  @media (min-width: 990px) {
    line-height: 40px;
  }

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-secondary;
    text-decoration: none;
    outline: 0;
  }

  &.white-on-primary {
    color: $color-white;
    border: 1px solid $color-white;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $color-primary;
      background-color: $color-white;
    }
  }
}

.btn-margin-top {
  margin-top: 15px;
}

.cta-btn {
  display: inline-block;
  padding: 0 30px;
  margin: 10px;
  font-size: 16px;
  line-height: 40px;
  min-width: 140px;

  &.red {
    background-color: $color-secondary;
    color: $color-white;

    &:hover {
      background-color: darken($color-secondary, 5%);
    }
  }

  &.white {
    background-color: $color-white;
    color: $color-secondary;

    &:hover {
      background-color: darken($color-white, 5%);
    }
  }

  &.white-with-border {
    background-color: $color-white;
    color: $color-secondary;
    border: 1px solid $color-secondary;

    &:hover {
      color: $color-white;
      background-color: $color-secondary;
      text-decoration: none;
      outline: 0;
    }
  }

  &.accent {
    background-color: $color-accent;
    color: $color-white;

    &:hover {
      background-color: $color-accent-alt;
    }
  }

  &.ghost {
    border: 1px solid $color-white;
    background-color: transparent;
    color: $color-white;

    &:hover {
      border-color: $color-accent-alt;
      background-color: $color-accent-alt;
    }
  }

  &.ghost-accent {
    border: 1px solid $color-accent;
    background-color: transparent;
    color: $color-accent;

    &:hover {
      border-color: $color-accent-alt;
      background-color: $color-accent-alt;
      color: $color-white;
    }
  }

}

.copy-btn {
  background-color: transparent;
  margin: 5px;
  padding: 5px;
  border-color: transparent;
  color: $color-primary-alt;

  &:hover,
  &:focus {
    color: $color-dark;
  }
}
